<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Shops</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" th:href="@{/api}">
                <h1 class="title">Die besten Shops</h1>
            </a>
        </div>
        <div class="navbar-menu is-active">
            <div class="navbar-start">
                <a class="navbar-item" th:href="@{/api/submit}" sec:authorize="isAuthenticated()">Shop erstellen</a>
                <a class="navbar-item" th:href="@{/api/register}" sec:authorize="isAnonymous()">Registrieren</a>
                <a class="navbar-item" th:href="@{/api/login}" sec:authorize="isAnonymous()">Login</a>
            </div>
            <a class="navbar-item" th:href="@{/api/logout}" sec:authorize="isAuthenticated()">
                Logout
            </a>
<!--            <div class="navbar-item" sec:authorize="isAuthenticated()">-->
<!--                <form th:action="@{/logout}" method="post">-->
<!--                    <button type="submit" class="button is-primary">Logout</button>-->
<!--                </form>-->
<!--            </div>-->
        </div>
    </nav>
    <section class="section">
        <div class="container">
            <article class="message is-success" th:if="${linkSubmitted}">
                <div class="message-body">
                    Vielen Dank für deinen tollen Shop!
                </div>
            </article>
<!--            <article class="message is-success" th:if="${voted}">-->
<!--                <div class="message-body">-->
<!--                    Vielen Dank für deine Stimme!-->
<!--                </div>-->
<!--            </article>-->
            <article class="message is-success" th:if="${deleted}">
                <div class="message-body">
                    Der Shop wurde entfernt.
                </div>
            </article>
            <article class="message is-success" th:if="${registered}">
                <div class="message-body">
                    Du bist jetzt registriert. Es gibt leider noch keinen Login...
                </div>
            </article>
            <div class="box" th:each="link : ${links}">
                <article class="media">
                    <div class="media-left">
<!--                        <div class="field">-->
<!--                            <form th:action="@{/vote}" method="post">-->
<!--                                <input type="hidden" name="linkId" th:value="${link.id}">-->
<!--                                <input type="hidden" name="up" th:value="${true}">-->
<!--                                <button type="submit" class="button is-small is-fullwidth">▲</button>-->
<!--                            </form>-->
<!--                            <form th:action="@{/vote}" method="post">-->
<!--                                <input type="hidden" name="linkId" th:value="${link.id}">-->
<!--                                <input type="hidden" name="up" th:value="${false}">-->
<!--                                <button type="submit" class="button is-small is-fullwidth">▼</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                        <div class="media-right" sec:authorize="hasAuthority('DELETE_LINK')">-->
<!--                            <form th:action="@{/delete/{linkId}(linkId=${link.id})}" method="post">-->
<!--                                <button type="submit" class="button is-danger is-small isoutlined">-->
<!--                                    ×</button>-->
<!--                            </form>-->
<!--                        </div>-->
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <a th:href="${link.url}" th:text="${link.title}" target="_blank"></a>
                                <br>
<!--                                <strong th:text="${link.points}"></strong> Punkte-->
<!--                                Posted by<strong th:text="${link.user.username}"></strong>-->
                            </p>
                        </div>
                    </div>
<!--                  hier Button zum Entfernen-->
                    <div class="media-right">
                        <form th:action="@{/api/delete/{linkId}(linkId=${link.id})}" method="post">
                            <button type="submit" class="button is-danger is-small is-outlined">×</button>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </section>
</body>
</html>
