<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Shops</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">Shop erstellen</h1>
        <nav class="level">
            <div class="level-left">
                <a th:href="@{/api}">Zurück</a>
            </div>
        </nav>
        <div class="box">
            <form th:action="@{/api/submit}" th:object="${link}" method="post">
                <div class="field">
                    <label class="label">Titel</label>
                    <div class="control">
                        <input class="input" type="text" required placeholder="Ein toller Link"
                               th:classappend="${#fields.hasErrors('title') ? 'is-danger' : ''}"
                               th:field="*{title}">
                    </div>
                    <p class="help is-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
                </div>
                <div class="field">
                    <label class="label">URL</label>
                    <div class="control">
                        <input class="input" type="url" required placeholder="https://..."
                               th:classappend="${#fields.hasErrors('url') ? 'is-danger' : ''}"
                               th:field="*{url}">
                    </div>
                    <p class="help is-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></p>
                </div>
                <div class="control">
                    <button class="button is-primary" type="submit">Abschicken</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
